<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.kozubek.reviewgame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shrine.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".display.MainActivity"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".display.DisplayLogin"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".display.DisplayRegister"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".display.DisplayFollowedUsers"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".display.DisplayUserProfile"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".display.DisplayFollowedGames"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".display.DisplayReviewActivity"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".display.DisplayFourBestGames"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".functionHelper.SearchGame"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".display.DisplayProfile"
            android:exported="true"
            android:label="Activity Title"
            android:theme="@style/Theme.Shrine.NoActionBar"
            tools:ignore="DuplicateActivity" />

    </application>

</manifest>