*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/drawable/Profile.svg
/app/src/main/res/drawable/TOP4.svg
/app/src/main/res/drawable/follow game.svg
/app/src/main/res/drawable/followusers.svg
/app/src/main/res/drawable/login.svg
/app/src/main/res/drawable/logout.svg
/app/src/main/res/drawable/settings.svg
/app/src/main/res/drawable/statistics.svg
